In [1]:
#  Make calculator in python.

print('''

+ Addition
- Subtraction
* Multilication
/ Division

''')

# we use eval to handle all types of value like int,
#float, binary etc.
# it is part of type casting.
num1 = eval(input("Enter the value 1:"))
num2 = eval(input("Enter the value 2:"))
opr = input("Enter the operation....(+,-,*,/): ")

if opr =="+":
  print(num1+num2)

elif opr =="-":
  print(num1-num2)

elif opr =="*":
  print(num1*num2)

elif opr =="/":
  print(num1/num2)

else:
  print("Invalid Operation..")

+ Addition
- Subtraction
* Multilication
/ Division


Enter the value 1:10
Enter the value 2:20
Enter the operation....(+,-,*,/): +
30

# **Loop**

In [ ]:
# usage of range() function.

for a in range(9):
  print(a)

0
1
2
3
4
5
6
7
8

In [ ]:
for p in range(2,11):
  print(p)

2
3
4
5
6
7
8
9
10

In [ ]:
for b in range(3, 34, 6):
  print(b)

3
9
15
21
27
33

In [ ]:
for n in range(8):
  print("Hello Universe!")

Hello Universe!
Hello Universe!
Hello Universe!
Hello Universe!
Hello Universe!
Hello Universe!
Hello Universe!
Hello Universe!

In [ ]:
for a in range(1,11):
  print(2*a)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for a in range(1,11):
  print("2*",a,"=",2*a)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [ ]:
# reverse case of range function

for w in range(11, 1, -1):
  print(w)

11
10
9
8
7
6
5
4
3
2

In [ ]:
# while Loop.....
# start/ initialization
# condition
# increment/decrement

i=1
while i<11:
  print(i,"Hello Universe!")
  i= i+1

1 Hello Universe!
2 Hello Universe!
3 Hello Universe!
4 Hello Universe!
5 Hello Universe!
6 Hello Universe!
7 Hello Universe!
8 Hello Universe!
9 Hello Universe!
10 Hello Universe!

In [ ]:
# reverse

a=10
while a>=1:
  print(a, "Smile")
  a=a-1

10 Smile
9 Smile
8 Smile
7 Smile
6 Smile
5 Smile
4 Smile
3 Smile
2 Smile
1 Smile

In [ ]:
x= 0
while x<5:
  # print("Not there yet, x=" +str(x))
  print("x=" +str(x))
  x=x+1

x=0
x=1
x=2
x=3
x=4

In [ ]:
x= 0
while x<5:
  # print("Not there yet, x=" +str(x))

  x=x+1
  print("x=" +str(x))

x=1
x=2
x=3
x=4
x=5

In [ ]:
def attempts(q):
  x=1
  while x<=q:
    print("Attempt " +str(x))
    x=x+1
  print("Done!")

attempts(6)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Attempt 6
Done!

In [2]:
x=1
sum=0
while x<11:
  sum += x
  x += 1
print(sum)

55

In [ ]:
x=1
multi=1
while x<10:
  multi *= x
  x += 1
print(multi)

362880

#**Ex.1 Print the first 10 natural numbers using for loop.**

https://www.shiksha.com/online-courses/articles/for-loop-in-python-examples/#2

In [ ]:
# between 0 to 10 we have 11
# numbers therefore we set the value of n to 11.
n= 11

for i in range(1,n):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# print the natural number by enter the range from the users:
x = int(input("Enter the starting number: "))
n = int(input("Enter the Ending  number: "))
m = n+1
for i in range(x,m):
  print(i)

Enter the starting number: 5
Enter the Ending  number: 15
5
6
7
8
9
10
11
12
13
14
15

#Example 2: Write Python program to print all the even numbers within the given range.

In [ ]:
x = int(input("Enter the Starting number:"))
n = int(input("Enter the Ending number:"))

m =n+1

for i in range(x,m):
  if i%2==0:
    print(i)

Enter the Starting number:3
Enter the Ending number:30
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
given_range = int(input("Enter the even numbers range:"))

for i in range(given_range):
  if i%2==0:
    print(i)

Enter the even numbers range:20
0
2
4
6
8
10
12
14
16
18

In [3]:
x = int(input("Enter the number:"))
y=1
sum =0
while(y<=x):
  sum = sum+y
  y = y+1
print(sum)
print()

Enter the number:10
55

In [6]:
# by for loop
x = int(input("Enter the number:"))
y=1
n = x+1
sum=0
for i in range(y,n):
  sum = sum+i
print(sum)

Enter the number:10
55

In [9]:
# 5 Write a python program to print the multiplication table of a given number?

m = int(input("Enter a number:"))
for i in range(1,11):
    print(m,"*",i,"=", m*i)

Enter a number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50